@import 'libs/vars';
@import 'libs/functions';
@import 'libs/mixins';
@import 'libs/skel';
@import 'font-awesome.min.css';
@import url('https://fonts.googleapis.com/css?family=Raleway:400,500,700');

/*
	Retrospect by TEMPLATED
	templated.co @templatedco
	Released for free under the Creative Commons Attribution 3.0 license (templated.co/license)
*/

	@include skel-breakpoints((
		xlarge: '(max-width: 1680px)',
		large: '(max-width: 1280px)',
		medium: '(max-width: 980px)',
		small: '(max-width: 736px)',
		xsmall: '(max-width: 480px)'
	));

	@include skel-layout((
		reset: 'full',
		boxModel: 'border',
		containers: 80em,
		grid: ( gutters: 2em ),
		breakpoints: (
			large: (
				containers: 65em,
				grid: ( gutters: 1.5em )
			),
			medium: (
				containers: (90%, true)
			),
			small: (
				small: (90%, true),
				grid: ( gutters: 1.25em )
			)
		)
	));

// Base.

	@import 'base/page';
	@import 'base/typography';

// Component.

	@import 'components/section';
	@import 'components/form';
	@import 'components/box';
	@import 'components/icon';
	@import 'components/image';
	@import 'components/list';
	@import 'components/table';
	@import 'components/button';
	@import 'components/feature';
	@import 'components/image-grid';
	@import 'components/wrapper';

// Layout.

	@import 'layout/header';
	@import 'layout/nav';
	@import 'layout/banner';
	@import 'layout/main';
	@import 'layout/footer';