.main-body {
  /* border: 1px solid red; */
  /* height: 300px; */
  width: 1200px;
  margin: 0 auto;
}

.main-left {
  display: flex;
  flex-direction: column;
  float: left;
  width: 60%;
}

.mainLogo {
  width: 50%;
  order: 0;
}

.mainDate {
  width: 50%;
  margin-top: 8px;
  margin-bottom: 10px;
}

.logoImg {
  order: 2;
  width: 120%;
  margin-top: -190px;
  margin-left: -30px;
}

.main-right {
  float: left;
  width: 39%;
}

/* #iconField {
  margin: 0;
  padding-left: 0.8rem;
  list-style-type: none;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  grid-gap: 0.5rem;
  width: calc(1vw + 3.5rem);
  height: calc(0.5vw + 1.5rem);
}

.SNS.facebook {
  background-image: url("../../img/Main/facebook.png");
  background-size: cover;
  z-index: 100;
}

.SNS.instagram {
  background-image: url("../../img/Main/instagram.png");
  background-size: cover;
  z-index: 100;
} */

.title > h5 {
  font-size: 1em;
  color: #6390ca;
  margin: 0;
}

.title > h5 :not(:first-child) {
  margin-top: 3rem;
}

.title > h1 {
  font-family: "NotoSansKR Bold", serif;
  font-weight: bolder;
  font-size: 2.3em;
  line-height: 140%;
  color: #395d7f;
  margin: 0;
}

.title > h1 :not(:first-child) {
  margin-top: 1rem;
}

.dots {
  margin-top: 1em;
  font-size: 0.8em;
  color: #ff9498;
}

.aboutUs > h5 {
  /* font-family: "NotoSans Regular", serif; */
  font-size: 1em;
  line-height: 200%;
  color: #6390ca;
}

.contact {
  font-size: 1.2em;
  color: #6390ca;
  margin-top: 5em;
}

.link {
  display: block;
  width: 100%;
  height: 100%;
}

@media (min-width: 576px) {
  .mainDate_m,
  .logoImg_m,
  #mobileStates {
    display: none;
  }
}

@media (max-width: 575px) {
  .main-body {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: auto;
  }

  .main-left {
    order: 0;
    margin-left: 8%;
    width: 70%;
  }

  .main-right {
    margin-left: 8%;
    width: 82%;
    order: 1;
  }

  .mainDate,
  .logoImg,
  #webStates {
    display: none;
  }

  .mainLogo,
  .mainDate_m {
    width: 80%;
    display: block;
  }

  .mainDate_m {
    order: 1;
  }

  .logoImg_m {
    order: 2;
    display: block;
    width: 160%;
    margin-top: -30%;
    margin-left: -50px;
  }

  .title > h1 {
    font-size: 1.8em;
  }

  .aboutUs > h5,
  .contact {
    font-size: 0.8em;
  }
}
