/*
	Retrospect by TEMPLATED
	templated.co @templatedco
	Released for free under the Creative Commons Attribution 3.0 license (templated.co/license)
*/

/* Feature */

	.feature .image {
		width: 48%;
		float: left;
	}

	.feature .content {
		width: 52%;
		float: left;
	}

	.feature:after {
		content: '';
		display: block;
		clear: both;
	}