@media screen and (max-width:768px) {
    body{
        width: 600px;
        margin: 0 auto;
    }
    .top{
        width: 500px;
    }
    .content img {
        width: 30%;
        /* display: none; */
    }
    .first-content #text {
        /* float:left; */
        margin-left: 0px;
        float:left;
        width: 100%;
    }

    .second-content img {
        float: left;
        margin-top:50px;
        margin-right: 0px;
        /* display:none; */
    }
    .second-content #text{
        /* margin-top: 1000px; */
        float:left;
        width:100%;
        margin-top:25px;
    }

    .third-content img{
        margin-top:50px;
        margin-left: 0px;
    }
    .third-content #text {
        float:left;
        width:100%;
        margin-top:25px
        
    }
}