.con-body {
  width: 1200px;
  margin: 0 auto;
}

.con-left {
  float: left;
  width: 45%;
  /* border: 1px solid red; */
}

.con-left img {
  width: 95%;
  padding: 30px 30px 30px 0;
}

.con-right {
  float: left;
  margin-left: 4%;
  width: 50%;
  /* border: 1px solid yellow; */
}
.con-right h2 {
  margin-top: 0px;
}
.con-right > .title > h2 > span {
  color: white;
  font-size: 26px;
  line-height: 42px;
}
.con-right span {
  font-size: 16px;
  line-height: 32px;
}
/* .con-right h5 {
  margin-left: 30px;
} */
.con-right > .contents1,
.con-right > .contents2 {
  color: #6286c4;
}
.con-right > .contents1,
.con-right > .contents2 {
  color: #6286c4;
}
