.coc-body {
  width: 1200px;
  margin: 0 auto;
  display: flex;
  flex-flow: row wrap;
}
.Word-title{
  font-family: "NotoSansKR Medium", serif;
}
.Word-title .coc-lower {
  margin-top: 10px;
  font-size: 24px;
  line-height: 32px;
  color: black;
}

.logo {
  position: absolute;
  top: 55%;
  left: 12%;
  /* padding-left: -100px; */
  /* margin-right: 50px; */
}
.logo img {
  width: 75%;
}

.container {
  position: absolute;
  display: flex;
  flex-flow: column wrap;
  top: 25%;
  left: 45%;
}

.section.A {
  font-family: "NotoSansKR Black";
}

.section {
  position: relative;
  display: flex;
  align-items: center;
  margin-bottom: 5em;
}

.section.A .dot,
.section.B .dot,
.section.C .dot,
.section.D .dot,
.section.E .dot {
  position: relative;
  flex: 1;
  align-self: start;
  text-align: center;
  align-items: center;
  margin: 0;
}

.dot > #circle {
  font-family: "NotoSansKR Medium", serif;
  height: 150px;
  width: 150px;
  background-color: #fdd2db;
  border-radius: 50%;
  font-weight: bold;
  font-size: 20px;
  color: #082138;
}
#circle p {
  padding-top: 32%;
}

.cocSection {
  display: flex;
  flex-flow: row wrap;
}
.coc {
  margin-left: 2em;
  color: #395d7f;
}
.bold {
  font-family: "NotoSansKR Bold";
}

.section.B .dot > #circle {
  background-color: #ff9599;
}

.section.C .dot > #circle {
  background-color: #6beeff;
}

.section.D .dot > #circle {
  background-color: #6286c4;
}

.section.E .dot > #circle {
  background-color: #ff9599;
}
