@media (min-width: 576px) {
    .mobile-menu {
        display: none;
    }
}

@media (max-width: 575px) {
    #main-menu {
        display: none;
    }
    
    .mobile-menu {
        /* position: fixed; */
        /* top: 0; */
        display: block;
        /* margin-top: -14px; */
    }

    .Title {
        display:none;
    }

    .mobile-menu-info-clicked > ul, .mobile-menu-2020-clicked > ul, .mobile-menu-news-clicked>ul {
        display: none;
    }
    body {
        margin-top: 100px;
        overflow-x: hidden;
    }
}
