.con-body {
  width: 1200px;
  margin: 0 auto;
}

.con-left {
  float: left;
  width: 45%;
  /* border: 1px solid red; */
}

.con-left img {
  width: 95%;
  padding: 30px 30px 30px 0;
}

.con-right {
  float: left;
  margin-left: 6%;
  width: 49%;
}

.con-right h2 {
  margin-top: 0px;
  margin-bottom: 30px;
}

.con-right > .title > h2 > span {
  color: white;
}

.con-right span {
  font-size: 1.2em;
  line-height: 200%;
}

.con-right > .contents1,
.con-right > .contents2 {
  color: #6286c4;
}

.con-mobile img {
  display: none;
}

/*
##Device = Low Resolution Tablets, Mobiles (Landscape)
##Screen = B/w 481px to 767px
##Device = 저해상도 태블릿, 모바일(가로)
##Screen = 481px에서 767px 사이
*/

@media (min-width: 576px) {
  #mobileStates {
    display: none;
  }
}
@media (max-width: 575px) {
  /* .con-body {
    width: 575px;
    margin: 0 auto;
  } */

  .con-body {
    width: 100%;
    margin: 0 auto;
  }

  .con-left,
  .con-right {
    margin-left: 8%;
  }

  .con-right {
    width: 82%;
  }

  .con-left {
    width: 100%;
    float: left;
  }
  .con-right h2 {
    margin-top: 31px;
    margin-bottom: 0px;
  }

  .con-right > .title > h2 > span {
    color: white;
  }

  .con-right > .contents1,
  .con-right > .contents2 {
    color: #6286c4;
    font-size: 1.2em;
    line-height: 1.8em;
  }

  .con-left img,
  #webStates {
    display: none;
  }

  .con-mobile img {
    display: block;
    position: inherit;
    bottom: 0px;
    width: 100%;
  }
}
